* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}
.fundo{
    background-image: url(assents/fundoPHP.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


form{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 8px;
    width: 400px;
    color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 80px;
    margin-top: 3%;
}

p{
    display: block;
    margin-top: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 4px;
    border: none;
}

button {
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: #4A90E2;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #357ABD;
}